.checkout {
  display: flex;
  padding: 20px;
  background-color: white;
  height: max-content;
 width: max-content;
}



.checkout__title {
  margin-right: 850px;
 
  padding: 10px;
  border-bottom: 1px solid lightgray;
}
